@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");

html {
  font-size: 14.5px;
}
body {
  line-height: 1.45em;
  background-color: #a585c5;
  color: #2b3838;
}
h1 {
  color: white;
}
.main_container {
  margin: 50px 50px;
}
.sub_container {
  padding: 15px;
  border-radius: 15px;
  background-color: white;
  height: auto;
  box-shadow: 20px 20px 50px 10px pink inset;
}
.images img {
  height: 10.9vw;
}
.text {
  text-align: justify;
  font-family: "Patrick Hand", cursive;
}
.text h2 {
  font-size: 3.5vw;
  margin-top: 20px;
  margin-bottom: 20px;
}
.text p {
  line-height: 119%;
  font-size: 1.8vw;
  margin-right: 10px;
}

#acoustika img,
#mallOfAsia img,
#grandMall img,
#todaysFashion img {
  width: 46vw;
  height: auto;
}

.image-left .images {
  margin-right: 1em;
  width: 53%;
  float: left;
}

.image-right .text {
  margin-right: 25px;
  width: 47%;
  float: left;
}
