@import url("https://fonts.googleapis.com/css?family=Open+Sans|Sacramento");
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

html {
	font-size: 14.5px;
}
body {
	font-family: "Open Sans", sans-serif;
	line-height: 1.45em;
	background-color: #a585c5;
	color: #2b3838;
}
h1 {
	color: white
}
.main_container {
    margin: 50px 50px;
}
.sub_container {
    padding: 15px;
    border-radius: 15px;
    background-color: white;
    height: fit-content;
    box-shadow: 20px 20px 50px 10px pink inset;
}
#acoustika .images {
    width: 53%;
    float: left;
}

#mallOfAsia .text {
    margin-right: 25px;
    padding-left: 25px;
    padding-right: 25px;
    width: 47%;
    float: left;
}

#mallOfAsia h2 {
    margin-bottom: 30px
}

#mallOfAsia p {
    line-height: 140%;
}

#grandMall .images {
    width: 53%;
    float: left
}

#grandMall p {
    padding-left: 25px;
    padding-right: 25px;
}

#grandMall p {
    line-height: 165%;
}

#todaysFashion .text {
    margin-right: 25px;
    width: 47%;
    height: 100%;
    float: left;
}

#todaysFashion p {
    font-size: xx-large;
    line-height: 150%;
}
#legends .images {
    width: 53%;
    float: left;
}
#sel .text {
    width: 47%;
    margin-right: 25px;
    float: left;
}
#tbridge .images{
    width: 53%;
    float: left;
}
#tbridge p {
    line-height: 170%;
}
.images img {
    height: 10.9vw;
}
.text {
    text-align: justify;
    font-family: 'Patrick Hand', cursive;
}
.text h2 {
    font-size: 3.5vw;
    margin-top: 20px;
    margin-bottom: 20px;
}
.text p {
    line-height: 119%;
    font-size: 1.8vw;
    margin-right: 10px;
}
#trustE h2 {
    line-height: 185%;
}
#trustE .images {
    width: 53%;
    float: left;
}

#ibnA .text {
    width: 47%;
    margin-right: 25px;
    float: left;
}
#ibnA h2 {
    line-height: 200%;
}

